In [1]:
#importing libraries
import pandas as pd
import nltk
import spacy
from spacy import tokenizer
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.tag import pos_tag

In [6]:
#Sentences
text = ["My name is Brajkishore Prajapati .","Vineet Patel works at the bank.","Parth  is going to the bank.",
        "Diya Pancholi got a loan from the bank.", "Riya Patel has some money in the bank", "Rishi Patel has plenty of money in the bank.",
        "Jinal Thakkar doesn't wants to go to the bank.", "Nihar Thakker deposited a lot of money in the bank.", "Rushin Patel is a clerk at the African Bank .",
        "Khushali Sheth works in a bank as a secretary.", "Saumil Trivedi went to the bank and changed his currency.", "Brinda Nathwani will make the payment by bank transfer.",
        "According to John, the bank closes at 3 p.m.", "Mary keeps her jewels locked up in the bank.", "Jenny applied for a job with the Bank of Africa."]

str(text)

In [3]:
#Loading package from spacy
nlp = spacy.load('en_core_web_sm')

In [7]:
#Using spacy inserting text
doc = nlp(str(text))
print(doc)

My name is Brajkishore Prajapati

In [8]:
#NER 
x = [(X.text, X.label_) for X in doc.ents]
x

[]

In [120]:
PERSON_NER

[("Rutva Thaker'", 'PERSON'),
 ('Vineet Patel', 'PERSON'),
 ('Parth Sharma', 'PERSON'),
 ('Diya Pancholi', 'PERSON'),
 ('Riya Patel', 'PERSON'),
 ('Rishi Patel', 'PERSON'),
 ('Rushin Patel', 'PERSON'),
 ('Khushali Sheth', 'PERSON'),
 ('Saumil Trivedi', 'PERSON'),
 ('Brinda Nathwani', 'PERSON'),
 ('John', 'PERSON'),
 ('Mary', 'PERSON'),
 ('Jenny', 'PERSON')]

In [113]:
#Creating DataFrame for Ner label == PERSON
PERSON_NER = [(X.text, X.label_) for X in doc.ents\
            if (X.label_ == 'PERSON' )]
          
dfn = pd.DataFrame(PERSON_NER)
dfn.rename(columns={0:"Names", 1:"NER_PERSON"}, inplace=True)
dfn

              Names NER_PERSON
0     Rutva Thaker'     PERSON
1      Vineet Patel     PERSON
2      Parth Sharma     PERSON
3     Diya Pancholi     PERSON
4        Riya Patel     PERSON
5       Rishi Patel     PERSON
6      Rushin Patel     PERSON
7    Khushali Sheth     PERSON
8    Saumil Trivedi     PERSON
9   Brinda Nathwani     PERSON
10             John     PERSON
11             Mary     PERSON
12            Jenny     PERSON

In [56]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [59]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [68]:
nltk.download('tagsets')

[nltk_data] Downloading package tagsets to /root/nltk_data...
[nltk_data]   Unzipping help/tagsets.zip.

True

In [116]:
#POS_tags
tagged = nltk.pos_tag(nltk.word_tokenize(str(text)))
tagged

[('[', 'JJ'),
 ("'My", 'POS'),
 ('name', 'NN'),
 ('is', 'VBZ'),
 ('Rutva', 'NNP'),
 ('Thaker', 'NNP'),
 ("'", 'POS'),
 (',', ','),
 ("'Vineet", "''"),
 ('Patel', 'NNP'),
 ('works', 'VBZ'),
 ('at', 'IN'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ("'Parth", 'POS'),
 ('Sharma', 'NNP'),
 ('is', 'VBZ'),
 ('going', 'VBG'),
 ('to', 'TO'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ("'Diya", "''"),
 ('Pancholi', 'NNP'),
 ('got', 'VBD'),
 ('a', 'DT'),
 ('loan', 'NN'),
 ('from', 'IN'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ("'Riya", "''"),
 ('Patel', 'NNP'),
 ('has', 'VBZ'),
 ('some', 'DT'),
 ('money', 'NN'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ("'", 'POS'),
 (',', ','),
 ("'Rishi", 'NNP'),
 ('Patel', 'NNP'),
 ('has', 'VBZ'),
 ('plenty', 'NN'),
 ('of', 'IN'),
 ('money', 'NN'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ('``', '``'),
 ('Jinal', 'JJ'),
 ('Thakkar', 'NN'),
 ('does', 'VBZ'),
 ("n't", 'RB'),
 ('wants', 'VBZ'),
 ('to', 'TO'),
 ('go', 'VB'),
 ('to', 'TO'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('.', '.'),
 ('``', '``'),
 (',', ','),
 ("'Nihar", "''"),
 ('Thakker', 'NNP'),
 ('deposited', 'VBD'),
 ('a', 'DT'),
 ('lot', 'NN'),
 ('of', 'IN'),
 ('money', 'NN'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ("'Rushin", 'JJ'),
 ('Patel', 'NNP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('clerk', 'NN'),
 ('at', 'IN'),
 ('the', 'DT'),
 ('African', 'NNP'),
 ('Bank', 'NNP'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ("'Khushali", "''"),
 ('Sheth', 'NNP'),
 ('works', 'VBZ'),
 ('in', 'IN'),
 ('a', 'DT'),
 ('bank', 'NN'),
 ('as', 'IN'),
 ('a', 'DT'),
 ('secretary', 'NN'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ("'Saumil", "''"),
 ('Trivedi', 'NNP'),
 ('went', 'VBD'),
 ('to', 'TO'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('and', 'CC'),
 ('changed', 'VBD'),
 ('his', 'PRP$'),
 ('currency', 'NN'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ("'Brinda", "''"),
 ('Nathwani', 'NNP'),
 ('will', 'MD'),
 ('make', 'VB'),
 ('the', 'DT'),
 ('payment', 'NN'),
 ('by', 'IN'),
 ('bank', 'NN'),
 ('transfer', 'NN'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ("'According", 'VBG'),
 ('to', 'TO'),
 ('John', 'NNP'),
 (',', ','),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('closes', 'VBZ'),
 ('at', 'IN'),
 ('3', 'CD'),
 ('p.m.', 'NN'),
 ("'", "''"),
 (',', ','),
 ("'Mary", 'JJ'),
 ('keeps', 'VBD'),
 ('her', 'PRP$'),
 ('jewels', 'NNS'),
 ('locked', 'VBN'),
 ('up', 'RP'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('.', '.'),
 ("'", "''"),
 (',', ','),
 ("'Jenny", 'POS'),
 ('applied', 'VBN'),
 ('for', 'IN'),
 ('a', 'DT'),
 ('job', 'NN'),
 ('with', 'IN'),
 ('the', 'DT'),
 ('Bank', 'NNP'),
 ('of', 'IN'),
 ('Africa', 'NNP'),
 ('.', '.'),
 ("'", "''"),
 (']', 'NN')]

In [115]:
#NNP proper noun, singular – ‘Harrison’ & NNPS proper noun, plural – ‘Americans’ 
#Creating DataFrame for proper noun in POS
proper_noun = [word for word,pos in tagged \
            if (pos == 'NNP' or  pos == 'NNPS')]
dfp = pd.DataFrame(proper_noun)
dfp.rename(columns={0:"POS_PROPER_NOUN"}, inplace=True)
dfp

   POS_PROPER_NOUN
0            Rutva
1           Thaker
2            Patel
3           Sharma
4         Pancholi
5            Patel
6           'Rishi
7            Patel
8            Patel
9          African
10            Bank
11           Sheth
12         Trivedi
13        Nathwani
14            John
15            Bank
16          Africa

In [47]:
#Creating DataFrame for sentences
data = pd.DataFrame(text)
data.rename(columns={0:"Name_Sentences"}, inplace=True)
data

                                       Name_Sentences
0                             My name is Rutva Thaker
1                     Vineet Patel works at the bank.
2                  Parth Sharma is going to the bank.
3             Diya Pancholi got a loan from the bank.
4               Riya Patel has some money in the bank
5        Rishi Patel has plenty of money in the bank.
6      Jinal Thakkar doesn't wants to go to the bank.
7         Nihar deposited a lot of money in the bank.
8       Rushin Patel is a clerk at the African Bank .
9      Khushali Sheth works in a bank as a secretary.
10  Saumil Trivedi went to the bank and changed hi...
11  Brinda Nathwani will make the payment by bank ...
12       According to John, the bank closes at 3 p.m.
13       Mary keeps her jewels locked up in the bank.
14   Jenny applied for a job with the Bank of Africa.

In [119]:
#Merging all the  DataFrames
df = pd.concat([data, dfn, dfp], axis=1)
df

,Name_Sentences,Names,NER_PERSON,POS_PROPER_NOUN
0,My name is Rutva Thaker,Rutva Thaker',PERSON,Rutva
1,Vineet Patel works at the bank.,Vineet Patel,PERSON,Thaker
2,Parth Sharma is going to the bank.,Parth Sharma,PERSON,Patel
3,Diya Pancholi got a loan from the bank.,Diya Pancholi,PERSON,Sharma
4,Riya Patel has some money in the bank,Riya Patel,PERSON,Pancholi
5,Rishi Patel has plenty of money in the bank.,Rishi Patel,PERSON,Patel
6,Jinal Thakkar doesn't wants to go to the bank.,Rushin Patel,PERSON,'Rishi
7,Nihar deposited a lot of money in the bank.,Khushali Sheth,PERSON,Patel
8,Rushin Patel is a clerk at the African Bank .,Saumil Trivedi,PERSON,Patel
9,Khushali Sheth works in a bank as a secretary.,Brinda Nathwani,PERSON,African
10,Saumil Trivedi went to the bank and changed hi...,John,PERSON,Bank
11,Brinda Nathwani will make the payment by bank ...,Mary,PERSON,Sheth
12,"According to John, the bank closes at 3 p.m.",Jenny,PERSON,Trivedi
13,Mary keeps her jewels locked up in the bank.,NaN,NaN,Nathwani
14,Jenny applied for a job with the Bank of Africa.,NaN,NaN,John
15,NaN,NaN,NaN,Bank
16,NaN,NaN,NaN,Africa